.weather-button {
  display: inline-flex;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(144, 202, 249);
  padding: 4px 16px;
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0;
  transition: .3s ease-in-out;
  text-decoration: none;
  margin-bottom: 20px;
}

.weather-button:hover {
  background-color: rgb(66, 165, 245);
}

.weather-button:active {
  box-shadow: rgb(0 0 0 / 20%) 0px 5px 5px -3px, rgb(0 0 0 / 14%) 0px 8px 10px 1px, rgb(0 0 0 / 12%) 0px 3px 14px 2px;
}